.dataForRegistr,
.tableUsers {
  width: 700px;
  text-align: center;
  min-height: 550px;
  margin: 10px 5px;
  padding: 20px;
  /* border: 1px solid #000; */
}
.dataForRegistr{
  text-align: left;
  padding: 20px 100px;
}
